.test-page
  margin-top 30px
.search-input
  input
    padding-left 14PX
    width 100%
    height 32PX
    border-radius 16PX
    font-size 13PX
    line-height 32PX
    background-color #F3F3F3
    box-sizing border-box
